asgiref
asttokens
crispy-bootstrap5
decorator
Django
django-allauth
django-crispy-forms
django-debug-toolbar
django-environ
executing
ipython
ipython_pygments_lexers
jedi
loguru
matplotlib-inline
parso
pexpect
prompt_toolkit
ptyprocess
pure_eval
Pygments
sqlparse
stack-data
traitlets
wcwidth
whitenoise

# pip freeze | cut -d '=' -f 1
