{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}

{% block page_title %}Change Password{% endblock %}
{% block page_sub_title %}Update your account security{% endblock %}

{% block actions %}
  <li class="nk-block-tools-opt">
    <a href="{% url "profile-update" %}" class="btn btn-primary">
      <em class="icon ni ni-curve-down-left"></em>
      <span>Back</span>
    </a>
  </li>
{% endblock %}

{% block content %}

<div class="card card-bordered">
  <div class="card-inner">
    <div class="preview-block">

      <span class="preview-title-lg overline-title">Password Form</span>
      <p class="text-soft mb-4">Choose a strong password you haven't used before.</p>

      <form method = "post">
          {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  <strong>Oops!</strong> {{ form.errors}}
              </div>
          {% endif %}
          {% csrf_token %}
          <div class="row g-4">
              {{ form|crispy }}
              <div class="col-12">
                  <div class="form-group">
                      <button type="submit" class="btn btn-lg btn-outline-secondary" value="save">Change Password</button>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}