{% load static %}


<!doctype html>
<html lang="zxx" class="js">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers." />
    <link rel="shortcut icon" href="images/favicon.png" />
    <title>EngineIQ | {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'assets/css/dashlite9b70.css' %}?ver=3.3.0" />
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme9b70.css' %}?ver=3.3.0" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-91615293-4");
    </script>
  </head>
  <body class="nk-body bg-white has-sidebar">
    <div class="nk-app-root">
      <div class="nk-main">

        {% include "./sidebar.html" %}

        {% include "./header.html" %}

        <div class="nk-content nk-content-fluid">
          {% include "./messages.html" %}
          <div class="container-xl wide-xxl"> 
            <div class="nk-content-body">
              <div class="nk-block">
                <div class="row g-gs">

                  <!-- Page header — same row as content so gutters align -->
                  <div class="col-12">
                    <div class="nk-block-between py-3 px-3 bg-gray-300 rounded-3">
                      <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">
                          {% block page_title %}{% endblock %}
                        </h3>
                        <div class="nk-block-des text-soft">
                          <p>{% block page_sub_title %}{% endblock %}</p>
                        </div>
                      </div>
                      <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                          <a href="#"
                            class="btn btn-icon btn-trigger toggle-expand me-n1"
                            data-target="pageMenu">
                            <em class="icon ni ni-more-v"></em>
                          </a>
                          <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">

                              {% block actions %}
                                <li>
                                  <a href="#" class="btn btn-white btn-dim btn-outline-primary">
                                    <em class="icon ni ni-download-cloud"></em>
                                    <span>Export</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="btn btn-white btn-dim btn-outline-primary">
                                    <em class="icon ni ni-reports"></em>
                                    <span>Reports</span>
                                  </a>
                                </li>
                                <li class="nk-block-tools-opt">
                                  <div class="drodown">
                                    <a href="#"
                                      class="dropdown-toggle btn btn-icon btn-primary"
                                      data-bs-toggle="dropdown">
                                      <em class="icon ni ni-plus"></em>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                      <ul class="link-list-opt no-bdr">
                                        <li>
                                          <a href="#">
                                            <em class="icon ni ni-user-add-fill"></em>
                                            <span>Add User</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <em class="icon ni ni-coin-alt-fill"></em>
                                            <span>Add Order</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#">
                                            <em class="icon ni ni-note-add-fill-c"></em>
                                            <span>Add Page</span>
                                          </a>
                                        </li>
                              {% endblock %}
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Page content blocks injected here, same row -->
                  {% block content %}{% endblock %}

                </div>
              </div>
              {% include "./footer.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "./scripts.html" %}

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-body modal-body-md text-center">
        <div class="nk-modal">

          <!-- Icon -->
          <em class="icon ni ni-signout nk-modal-icon icon-circle icon-circle-xxl bg-warning"></em>

          <h4 class="nk-modal-title mt-3">Sign Out?</h4>
          <p class="text-soft">Are you sure you want to sign out of your account?</p>

          <div class="d-flex flex-wrap justify-content-center gap-2">
            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
              Cancel
            </button>
            <a href="{% url 'logout' %}" class="btn btn-warning">
              <em class="icon ni ni-signout"></em>
              <span>Yes, Sign out</span>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


  </body>
</html>