{% load static %}

<div class="nk-wrap">
  <div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
      <div class="nk-header-wrap">
        <div class="nk-menu-trigger d-xl-none ms-n1">
          <a
            href="#"
            class="nk-nav-toggle nk-quick-nav-icon"
            data-target="sidebarMenu"
            ><em class="icon ni ni-menu"></em
          ></a>
        </div>
        <div class="nk-header-brand d-xl-none">
          <a href="index.html" class="logo-link"
            ><img
              class="logo-light logo-img"
              src="{% static 'assets/images/logo.png' %}"
              srcset="{% static 'assets/images/logo.png' %} 2x"
              alt="logo" /><img
              class="logo-dark logo-img"
              src="{% static 'assets/images/logo.png' %}"
              srcset="{% static 'assets/images/logo.png' %} 2x"
              alt="logo-dark"
          /></a>
        </div>

        <div class="nk-header-tools">
          <ul class="nk-quick-nav">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                <div class="user-toggle">
                  <div class="user-avatar sm">
                    <em class="icon ni ni-user-alt"></em>
                  </div>
                  <div class="user-info d-none d-md-block">
                    <div class="user-status">{{ request.user.role }}</div>
                    <div class="user-name dropdown-indicator">
                      {{ request.user }}
                    </div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                  <div class="user-card">

                    {% if request.first_name %}
                    <div class="user-avatar"><span>{{ request.user.first_name|slice:":1" }}{{ request.user.last_name|slice:":1" }}</span></div>
                    {% else %}
                    <div class="user-avatar"><span>{{ request.user.username|slice:":2" }}</span></div>
                    {% endif %}

                    <div class="user-info">
                      <span class="lead-text">{{ request.user.get_full_name }}</span>
                      <span class="sub-text">
                        <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li>
                      <a href="{% url "profile-update" %}" >
                        <em class="icon ni ni-user-fill"></em>
                        <span>Update Profile</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url "password_change" %}" >
                        <em class="icon ni ni-lock-alt"></em>
                        <span>Change Password</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li> 
                      <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <em class="icon ni ni-signout"></em>
                        <span>Sign out</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            {% comment %} <li class="dropdown notification-dropdown me-n1">
              <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                <div class="icon-status icon-status-info">
                  <em class="icon ni ni-bell"></em>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                <div class="dropdown-head">
                  <span class="sub-title nk-dropdown-title">Notifications</span>
                  <a href="#">Mark All as Read</a>
                </div>
                <div class="dropdown-body">
                  <div class="nk-notification">
                    <div class="nk-notification-item dropdown-inner">
                      <div class="nk-notification-icon">
                        <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                      </div>
                      <div class="nk-notification-content">
                        <div class="nk-notification-text">
                          You have requested to <span>Widthdrawl</span>
                        </div>
                        <div class="nk-notification-time">
                          2 hrs ago
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-foot center">
                  <a href="#">View All</a>
                </div>
              </div>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
    </div>
  </div>


