{% load static %}  

<div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a href="index.html" class="logo-link nk-sidebar-logo">
        <img
          class="logo-light logo-img"
          src="{% static 'assets/images/logo.png' %}"
          srcset="{% static 'assets/images/logo.png' %} 2x"
          alt="logo" /><img
          class="logo-dark logo-img"
          src="{% static 'assets/images/logo.png' %}"
          srcset="{% static 'assets/images/logo.png' %} 2x"
          alt="logo-dark" />
      </a>
    </div>
    <div class="nk-menu-trigger me-n2">
      <a href="#"
        class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
        <em class="icon ni ni-arrow-left"></em>
      </a>
    </div>
  </div>
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-body" data-simplebar>
      <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu">
          <ul class="nk-menu">
            <li class="nk-menu-heading">
              <h6 class="overline-title text-primary-alt">
                NAVIGATION PANEL
              </h6>
            </li>
            <li class="nk-menu-item">
              <a href="{% url "dashboard" %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-home"></em>
                </span>
                <span class="nk-menu-text">Dashboard</span>
                {% comment %} <span class="nk-menu-badge">HOT</span> {% endcomment %}
              </a>
            </li>
            <li class="nk-menu-item">
              <a href="{% url 'project-index' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-briefcase"></em>
                </span>
                <span class="nk-menu-text">Projects</span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a href="{% url 'client-index' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-briefcase"></em>
                </span>
                <span class="nk-menu-text">Clients</span>
              </a>
            </li>
            <li class="nk-menu-item has-sub">
              <a href="#" class="nk-menu-link nk-menu-toggle">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-users"></em>
                </span>
                <span class="nk-menu-text">Human Resource</span>
              </a>
              <ul class="nk-menu-sub">
                <li class="nk-menu-item">
                  <a href="{% url 'discipline-index' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Disciplines</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url 'position-index' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Positions</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url 'employee-index' %}" class="nk-menu-link">
                    <span class="nk-menu-text">Employees</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nk-menu-item has-sub">
              <a href="#" class="nk-menu-link nk-menu-toggle">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-tile-thumb"></em>
                </span>
                <span class="nk-menu-text">Admin Center</span>
              </a>
              <ul class="nk-menu-sub">
                <li class="nk-menu-item">
                  <a href="{% url "branch-index" %}" class="nk-menu-link">
                    <span class="nk-menu-text">Branches</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url "users-index" %}" class="nk-menu-link">
                    <span class="nk-menu-text">User Management</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url "role-index" %}" class="nk-menu-link">
                    <span class="nk-menu-text">User Roles</span>
                  </a>
                </li>
                <li class="nk-menu-item">
                  <a href="{% url "permission-index" %}" class="nk-menu-link">
                    <span class="nk-menu-text">System Permissions</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>